<?xml version="1.0"?>

<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "./dtds/web-app_2_3.dtd">

<web-app>
    <!-- Standard Action Servlet Configuration (with debugging) -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- servlet to remotely invoke service methods -->
    <servlet>
        <servlet-name>ServiceInvokerServlet</servlet-name>
        <servlet-class>org.jmanage.webui.servlets.ServiceInvokerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Standard Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceInvokerServlet</servlet-name>
        <url-pattern>/invokeService</url-pattern>
    </servlet-mapping>
    
    <session-config>
    	<session-timeout>30</session-timeout>
    </session-config>
</web-app>